cmake-build-debug/
cmake-build-release/
build/
install/
CMakeUserPresets.json
.idea/
helpers/ref_emulator_dir
helpers/cfg/output/
helpers/cfg/test_source_code.txt
roms/8080/*/
roms/z80/*/

pacman_imgui.ini
space-invaders_imgui.ini
synacor_imgui.ini
zxspectrum-48k_imgui.ini
